.box{
    }
.mycontainer{
    }
.myrow{
    }
.mycol{
    }
.heading{
    text-align: center;
    
    background-color: rgb(200, 93, 93);
    color: white;
}
body{
    background-color:rgb(202, 141, 202);
}
.btn-primary{

}
.sec_col{
    text-align: center;
    color : white;
}
.sec_row{

}